.big {
  font-size: 30px;
  padding: 10px;
}

.content {
  min-height: 100%;
}

.footer {
  background-color: black;
  clear: both;
  color: white;
  height: 30px;
  margin-top: 2px;
  position: relative;
  text-align: center;
}

html , body {
  height: 100%;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times, Times, serif;
  font-weight: 900;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.main {
  overflow: auto;
  padding-bottom: 100px;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
